.header {
  height: 7rem;
  background-color: var(--primary);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: wrap;
}

.nav a{
  text-decoration: none;
  color: var(--white);
  padding-right: 1.5rem;

}
